# --- Compiled binaries and debug files ---
*.exe              # Windows executables
*.pdb              # Program debug database (MSVC)


# --- Build/Output directories ---
out/               # Ignore 'out' folder in root

# --- IDE/Editor cruft ---
.vscode/           # VS Code settings
